#Apropos .Apropos {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    /* background-color: aqua; */
}

#Apropos .colonne-gauche {
    width: 250px;
    height: 360px;
}

#Apropos .colonne-droite {
    width: 100%;
    position: relative;
   /*  -webkit-box-reflect: below -90px linear-gradient(transparent, rgba(0, 0, 0, 0.248));
    font-size: 60px;    ---Reflet à propos  */
}

#Apropos .Apropos span p {
    position: absolute;
    z-index: 90;
    left: 50%;
    top: 190%;
        color: transparent;
        border-radius: 100%;
        animation: fleche_bounce 0.8s alternate;
        -webkit-animation: fleche_bounce 0.8s infinite alternate;
        
      }

#Apropos .colonne-droite h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
    color: #ffffff;
    
}

#Apropos .colonne-droite p {
    margin-bottom: 20px;
    color: #ffffff;
    
}

#Apropos .colonne-droite .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#Apropos .colonne-gauche .slideshow-container {
    size-adjust: inherit;
    position: relative;
}

#Apropos .active {
    background-color: #717171;
}


/* Fading animation */

#Apropos .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-duration: 3.5s;
    animation-timing-function: ease-out;
}

#Apropos .colonne-gauche .slideshow-container::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 100%;
    width: 100%;
    border: 8px solid rgb(56, 44, 81);
    z-index: -1;
    
}

  