@media (prefers-reduced-motion: no-preference) {
 
  .apropos {
    animation: wipe-enter2 800ms ease-out 1;

  }

  .projet-header{
    animation: wipe-enter 1500ms ease-out 1;
    animation-duration: 1500ms;
 

  }

  .figure h1{
    animation: wipe-enter 1500ms ease-out 1;
    animation-duration: 1500ms;

    
  }

  .contact h1 {
    animation: wipe-enter  1500ms  ease-out 1;
    animation-duration: 1500ms;
    margin-bottom: 250px;

    
  }

  .Description {
    animation: wipe-enter  800ms  ease-out 1;
    animation-duration: 2s;

  }

  
  /* .test-transition {
    transform: none;
    animation-name: fade;
    animation-duration: 3.5s;
  } */


  @keyframes wipe-enter {
   0% {
      opacity: 0;
      transform: translateY(50%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @keyframes wipe-enter2 {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    1% {
      opacity: 0;
      transform: translateY(60%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
}
