/* TEXTE INTRO */

#intro {
  background-image: url(/img/aaa.jpg);
  background-size: cover;
  background-position: top center;
  z-index: 1;
}

#intro::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

#intro .intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#intro .intro span p {
  position: absolute;
  z-index: 90;
  left: 50%;
  top: 90%;
  color: transparent;
  border-radius: 100%;
  animation: fleche_bounce 0.8s alternate;
  -webkit-animation: fleche_bounce 0.8s infinite alternate;
}

#intro h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
  z-index: 80;
}

#intro h1:nth-child(1) {
  animation-delay: 1s;
}

#intro h1:nth-child(2) {
  animation-delay: 2s;
}

#intro h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
  font-size: 8rem;
}

#intro h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(45, 35, 65);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}

#intro h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#intro h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#intro h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#intro h3 {
  float: right;
  display: block;
  width: fit-content;
  font-size: 2rem;
  position: relative;
  color: transparent;
  animation: text_reveal 5s ease forwards;
  animation-delay: 4s;
  z-index: 80;
}

/* CONTROL DE L ANIMATION */

control {
  z-index: 100;
  position: absolute;
  width: 17rem;
  height: 3rem;
  top: 14%;
  left: 5%;
  background-color: rgba(134, 135, 135, 0.123);
  border-radius: 8px;
}

control:hover {
  position: absolute;
  width: 17rem;
  height: 15rem;
  top: 14%;
  left: 5%;
  background-color: rgba(134, 135, 135, 0.528);
  border-radius: 8px;
  animation-timing-function: ease-out;
}

control i {
  font-size: 12px;
  position: absolute;
  color: rgba(255, 255, 255, 0.432);
  padding-left: 35px;
  padding-top: 7px;
  text-shadow: 2px 3px 3px #000000;
}

control:hover i {
  font-size: 14px;
  position: absolute;
  color: rgba(255, 255, 255, 0.796);
  padding-left: 25px;
  padding-top: 7px;
  text-shadow: 2px 3px 3px #000000;
}

control #textInput {
  visibility: hidden;
}

control:hover #textInput {
  visibility: visible;
  margin-top: 12px;
  padding-left: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: aliceblue;
  position: absolute;
}

control:hover sub {
  position: relative;
  top: 10px;
  font-size: 12px;
}

control #textInput2 {
  visibility: hidden;
}

control:hover #textInput2 {
  visibility: visible;
  margin-top: 12px;
  padding-left: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: aliceblue;
  position: absolute;
}

control range {
  visibility: hidden;
}

control:hover range {
  visibility: visible;
  position: absolute;
  left: 10%;
  margin-top: 45px;
  color: aliceblue;
}

control range2 {
  visibility: hidden;
}

control:hover range2 {
  visibility: visible;
  position: absolute;
  left: 10%;
  margin-top: 95px;
  color: aliceblue;
}

/* SLIDER COLOR */
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 140px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: rgb(65, 48, 107);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgb(253, 252, 255);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* ANIMATION TEXTE INTRO */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: rgb(65, 48, 107);
    font-weight: 500;
  }
}

@keyframes text_reveal_dev {
  100% {
    color: rgb(255, 255, 255);
  }
}

@keyframes fleche_bounce {
  100% {
    color: white;
  }
  90% {
    color: white;
  }
}
